/*========================================================================COMMON*/


/**{
    border: 1px solid black;
}*/

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather';
}

h2,
h3 {
    font-weight: 300;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

input {
    background: #353636;
    color: #7b7b7b;
    border: none;
    padding: 10px;
}


/*========================================================================INTRO*/

.intro {
    position: absolute;
    z-index: 200;
}

.intro .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    cursor: pointer;
    transition: opacity 1s ease;
}

.intro .firstImg,
.intro .secondImg {
    float: left;
    transition: all 2s ease;
    height: 100vh;
    width: 50%;
}

.out1 {
    position: relative;
    transform: translateX(-1000px) rotate(30deg);
}

.out2 {
    position: relative;
    transform: translateX(+1000px) rotate(-30deg);
}

.out {
    opacity: 0;
}


/*========================================================================HEADER*/

header {
    position: fixed;
    width: 100%;
    height: 60px;
    /* background: #0e141c;*/
    background: #fff;
    z-index: 100;
}

header img {
    position: absolute;
    top: 15px;
    left: 30px;
    width: 125px;
}

header nav ul {
    text-align: center;
    line-height: 60px;
}

header nav ul li {
    display: inline-block;
    padding: 0 10px;
    letter-spacing: 0.1rem;
}

header nav ul li a {
    padding: 10px;
    color: #000;
}

header nav ul li a:hover {
    color: #fff;
    background: #001a20;
}

header nav ul li a:focus {
    font-weight: 600;
}

.hamb {
    display: none;
}


/*=====================================================SECTION1*/

#section1 {
    min-height: 100vh;
    background: #3c3528 url(img/bg.jpg) center center no-repeat fixed;
    background-size: cover;
    padding-top: 60px;
    text-align: center;
    color: #fff;
}

.down {
    position: relative;
    width: 125px;
    margin-top: 70vh;
    animation-name: down;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

.down {
    fill: #f00;
}

@keyframes down {
    from {
        top: 0;
    }
    to {
        top: 5px;
    }
}


/*=====================================================SECTION1.5*/

#section1half {
    position: relative;
    min-height: 300px;
    text-align: center;
    padding: 60px 0 50px 0;
}

#section1half h2 {
    margin: 0;
}

#section1half img{
    margin: 20px 0;
}
#section1half .wrap {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    flex-wrap: wrap;
}

#section1half .wrap div {
    width: 40%;
    margin: auto;
}


/*=====================================================SECTION2*/

#section2 {
    min-height: 100vh;
    border-top: 2px solid black;
    padding-top: 60px;
}

#section2 h2 {
    text-align: center;
}

#section2 .mainevent {
    max-width: 1200px;
    height: 400px;
    margin: 0 auto 30px;
    background: url('../img/event.jpg') center center no-repeat;
}

#section2 .wrap {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#section2 .wrap div {
    min-width: 350px;
    margin: 0 0 30px;
}


/*=====================================================SECTION3*/

#section3 {
    min-height: 100vh;
    padding-top: 60px;
   
    color: #fff;
}
#section3 h2{
    color: #000;
    text-align: center;
}
#section3 .wrap{
    background: #001a20;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    overflow:hidden;
}
#section3 .wrap div{
    width: 400px;
    height: 300px;
    background: #001a20;
    padding: 25px 25px;
    transition: all 0.5s ease;
}
#section3 .wrap div:hover{
    transform: scale(1.1);
    z-index: 50;
}
#section3 img{
    filter: grayscale(0.5);
    transition: all 0.5s ease;
}
#section3 img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
    z-index: 50;
}

/*=====================================================SECTION4*/

#section4 {
    min-height: 100vh;
    padding-top: 60px;
    overflow: hidden;
    position: relative;
}

#section4 h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 100;
    text-align: center;
}

#section4 h3 {
    margin: 0 30px;
    color: #fff;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5%;
}

#section4 .fadeout {
    transition: all 1s ease;
}

#section4 .fadeout h2 {
    border: 2px solid #fff;
    padding: 10px;
}

#section4 video {
    display: block;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}

#section4 .fadein {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 60px;
    left: 0;
    opacity: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: 1s ease;
}

#section4 .fadein div {
    min-width: 300px;
    min-height: 300px;
    margin: auto 0;
    transform: scale(0);
    transition: transform 1s ease;
}

#section4 .fadein .wrap {
    border-radius: 50%;
}

#section4 .fadein .wrap .maskc1,
#section4 .fadein .wrap .maskc2,
#section4 .fadein .wrap .maskc3,
#section4 .fadein .wrap .maskc4 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0;
}

#section4 .fadein .wrap:hover .maskc1,
#section4 .fadein .wrap:hover .maskc2,
#section4 .fadein .wrap:hover .maskc3,
#section4 .fadein .wrap:hover .maskc4 {
    opacity: 1;
}

#section4 .fadein .cock {
    border: 3px solid #000;
}

#section4 .fadein .cock.one {
    background: url(../img/cock1.jpg) 50% 50% no-repeat;
}

#section4 .fadein .cock.two {
    background: url(../img/cock5.jpg) 50% 50% no-repeat;
}

#section4 .fadein .cock.three {
    background: url(../img/cock2.jpg) 50% 50% no-repeat;
}

#section4 .fadein .cock.four {
    background: url(../img/cock4.jpg) 50% 50% no-repeat;
}


/*=====================================================SECTION5*/

#section5 {
    overflow: hidden;
    padding: 60px 0 50px 0;
}

#section5 img {
    height: 400px;
    position: relative;
}

#section5 .wrap {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#section5 .infos {
    margin: 0 auto 30px;
    min-width: 300px;
    max-width: 30%;
}

#map {
    height: inherit;
    background: #aaa;
    min-width: 480px;
    min-height: 400px;
}


/*=====================================================FOOTER*/


/*=====================TO-TOP*/

.to-top {
    text-align: center;
    overflow-x: hidden;
    height: 70px;
}

.to-top img {
    width: 50px;
}

.to-top p {
    margin: 0;
    line-height: 0;
}


/*==========*/

footer {
    background: #15191b;
    text-align: center;
    color: #fff;
    padding: 40px 0;
}

footer .small {
    margin: 0 0 20px 0;
}

footer label {
    margin: 0 10px 0 0;
}

footer input {
    margin: 10px 0;
    width: 380px;
}

footer img {
    width: 75px;
    position: relative;
    bottom: 35px;
}

footer svg {
    width: 75px;
    fill: #fff;
}

#fb:hover {
    fill: #3b5998;
}

#twitter:hover {
    fill: #1da0f2;
}

#pinterest:hover {
    fill: #bd081c;
}

#youtube:hover {
    fill: #ee1c1b;
}


/*=====================================================RESPONSIVE*/

@media screen and (max-width:1400px) {
    .intro {
        display: none;
    }
}

@media screen and (max-width:780px) {
    .logo {
        display: none;
    }
    /*SECTION 1.5*/
    #section1half .wrap {
        display: block;
    }
    #section1half .wrap div {
        width: 100%;
        margin-bottom: 20px;
    }
    /*SECTION 4*/
    #section4 {
        display: none;
    }
    /*SECTION 5*/
    #section5 img {
        display: none;
    }
     #section1half .wrap div:not(.txtleft){
        text-align: center;
    }
}

@media screen and (max-width:600px) {
    /*COMMON*/
    body {
        overflow-y: scroll;
    }
    /*    HEADER-MENU HAMBURGER*/
    header {
        height: 0px;
    }
    .logo {
        display: none;
    }
    .hamb {
        display: block;
        position: fixed;
        right: 15px;
        top: 40px;
        padding: 5px;
        z-index: 500;
        background: #000;
        color: #fff;
    }
    nav {
        z-index: 50;
        position: fixed;
        width: 100%;
    }
    nav ul.list li {
        margin: 0;
        line-height: 0;
        display: none;
    }
    nav ul.list.responsive {
        display: block;
        margin: auto;
        overflow-x: hidden;
        background: #fff;
    }
    nav ul.list.responsive li {
        display: inline;
        line-height: 0;
        padding: 0;
    }
    nav ul.list.responsive li a {
        display: block;
        width: 50%;
        margin: 15px auto;
        line-height: 1;
    }
}

@media screen and (max-width:480px) {
    #section3 .wrap img:hover, #section3 .wrap div:hover{
transform: scale(1);
    }
    #section3 img{
        filter: grayscale(0);
    }
    #section3 .wrap .hide{
        display: none;
    }
    #section5 #map {
        display: none;
    }
}
