/*========================================================================COMMON*/


/**{
    border: 1px solid black;
}*/

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather';
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}


/*========================================================================INTRO*/

.intro {
    position: absolute;
    z-index: 200;
}

.intro .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.intro img:not(.button) {
    float: left;
    transition: all 1s ease;
    height: 100vh;
    width: 50%;
}

.out1 {
    position: relative;
    transform: translateX(-1000px);
    opacity: 0;
}

.out2 {
    position: relative;
    transform: translateX(+1000px);
    opacity: 0;
}

.out {
    display: none;
}


/*========================================================================HEADER*/

header {
    position: fixed;
    width: 100%;
    height: 60px;
    background: #0e141c;
    z-index: 100;
}

header img {
    position: absolute;
    margin-top: 20px;
    margin-left: 50px;
}

header nav {
    line-height: 60px;
}

header nav ul {
    text-align: center;
    line-height: 60px;
}

header nav ul li {
    display: inline-block;
    padding: 0 10px;
    letter-spacing: 0.1rem;
}

header nav ul li a {
    padding: 10px;
}

header nav ul li a:hover {
    color: #0e141c;
    background: #fff;
}

header nav ul li a:focus {
    color: #ff9933;
}


/*=====================================================SECTION1*/

#section1 {
    height: 660px;
    background: #fff;
    padding-top: 60px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}


/*=====================================================SECTION2*/

#section2 {
    height: 700px;
    background: #fff;
    border-top: 2px solid black;
}


/*=====================================================SECTION3*/

#section3 {
    background: #ff6611;
    height: 800px;
    display: flex;
}

#section3 div {
    width: 20%;
    height: 600px;
    background: #fff;
    margin: auto;
}


/*=====================================================SECTION4*/

#section4 {
    height: 800px;
    background: #ff6611;
    overflow: hidden;
}

#map {
    height: 600px;
    width: 500px;
    background: #aaa;
    margin: auto;
}

/*=====================================================FOOTER*/

footer{
    height: 100px;
    background: #666;
}