/*========================================================================COMMON*/


/**{
    border: 1px solid black;
}*/

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather';
    margin: 0;
}

h2 {
    font-weight: 300;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}


/*========================================================================INTRO*/

.intro {
    position: absolute;
    z-index: 200;
}

.intro .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    cursor: pointer;
    transition: opacity 1s ease;
}

.intro .firstImg,
.intro .secondImg {
    float: left;
    transition: all 1s ease;
    height: 100vh;
    width: 50%;
}

.out1 {
    position: relative;
    transform: translateX(-1000px) rotate(50deg);
    opacity: 0;
}

.out2 {
    position: relative;
    transform: translateX(+1000px) rotate(50deg);
    opacity: 0;
}

.out {
    opacity: 0;
}


/*========================================================================HEADER*/

header {
    position: fixed;
    width: 100%;
    height: 60px;
    /* background: #0e141c;*/
    background: #fff;
    z-index: 100;
}

header img {
    position: absolute;
    top: 15px;
    left: 30px;
    width: 125px;
}

header nav ul {
    text-align: center;
    line-height: 60px;
}

header nav ul li {
    display: inline-block;
    padding: 0 10px;
    letter-spacing: 0.1rem;
}

header nav ul li a {
    padding: 10px;
    color: #000;
}

header nav ul li a:hover {
    color: #fff;
    background: #001a20;
}

header nav ul li a:focus {
    font-weight: 600;
}

.hamb {
    display: none;
}


/*=====================================================SECTION1*/

#section1 {
    min-height: 100vh;
    background: #3c3528 url(img/bg.jpg) center center no-repeat fixed;
    background-size: cover;
    padding-top: 60px;
    text-align: center;
    color: #fff;
}

.down {
    position: relative;
    width: 125px;
    margin-top: 70vh;
    animation-name: down;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

.down {
    fill: #f00;
}

@keyframes down {
    from {
        top: 0;
    }
    to {
        top: 5px;
    }
}


/*=====================================================SECTION1.5*/

#section1half {
    position: relative;
    min-height: 300px;
    text-align: center;
    padding: 60px 0 50px 0;
}

#section1half .wrap {
    max-width: 1200px;
    margin: auto;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    text-align: left;
}

#section1half .wrap div {
    width: 40%;
}


/*=====================================================SECTION2*/

#section2 {
    min-height: 100vh;
    background: #000;
    border-top: 2px solid black;
    padding-top: 60px;
}

#section2 h2 {
    text-align: center;
}


/*=====================================================SECTION3*/

#section3 {
    min-height: 100vh;
    background: #ff6611;
    display: flex;
    padding-top: 60px;
}

#section3 div {
    width: 20%;
    height: 600px;
    background: #fff;
    margin: auto;
}


/*=====================================================SECTION4*/

#section4 {
    min-height: 100vh;
    padding-top: 60px;
    overflow: hidden;
    position: relative;
}

#section4 h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #fff;
    z-index: 100;
}

#section4 video {
    display: block;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}

#section4 .fadein {
    height: 100vh;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: -10;
}


/*=====================================================SECTION5*/

#section5 {
    min-height: 100vh;
    background: #ff6611;
    overflow: hidden;
    padding-top: 60px;
}

#map {
    height: 600px;
    width: 500px;
    background: #aaa;
    margin: auto;
}


/*=====================================================FOOTER*/


/*=====================TO-TOP*/

.to-top {
    text-align: center;
    overflow-x: hidden;
    height: 70px;
}

.to-top img {
    width: 50px;
}

.to-top p {
    margin: 0;
    line-height: 0;
}


/*==========*/

footer {
    height: 100px;
    background: #666;
}


/*=====================================================RESPONSIVE*/

@media screen and (max-width:1400px) {
    .intro {
        display: none;
    }
}

@media screen and (max-width:780px) {
    .logo {
        display: none;
    }
    /*SECTION 1.5*/
    #section1half .wrap {
        display: block;
    }
    #section1half .wrap div {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:600px) {
    /*COMMON*/
    body {
        overflow-y: scroll;
    }
    /*    HEADER-MENU HAMBURGER*/
    header {
        height: 0px;
    }
    .logo {
        display: none;
    }
    .hamb {
        display: block;
        position: fixed;
        right: 15px;
        top: 40px;
        padding: 5px;
        z-index: 500;
        background: #000;
        color: #fff;
    }
    nav {
        z-index: 50;
        position: fixed;
        width: 100%;
    }
    nav ul.list li {
        margin: 0;
        line-height: 0;
        display: none;
    }
    nav ul.list.responsive {
        display: block;
        margin: auto;
        overflow-x: hidden;
        background: #fff;
    }
    nav ul.list.responsive li {
        display: inline;
        line-height: 0;
        padding: 0;
    }
    nav ul.list.responsive li a {
        display: block;
        width: 50%;
        margin: 15px auto;
        line-height: 1;
    }
}
